{
  "parser": "babel-eslint",
  "extends": ["standard", "prettier"],
  "plugins": ["babel", "prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-restricted-syntax": ["error", "WithStatement"],
    "no-await-in-loop": "off",
    "no-underscore-dangle": "off",
    "no-shadow": "off",
    "no-use-before-define": "off"
  },
  "globals": {
    "Atomics": true,
    "SharedArrayBuffer": true,
    "process": true,
    "describe": true,
    "it": true,
    "before": true,
    "beforeEach": true,
    "after": true,
    "afterEach": true,
    "expect": true
  }
}
