{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard"
  ],
  "plugins" : [
    "babel"
  ],
  "globals": {
    "Atomics": true,
    "SharedArrayBuffer": true,
    "process": true,
    "describe": true,
    "it": true,
    "before": true,
    "beforeEach": true,
    "after": true,
    "afterEach": true,
    "expect": true
  }
}
